* {
    font-family: "Montserrat", sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--1);
}

.header a:hover{
    color: var(--4);
}

.header a{
    text-decoration: none;
    color:var(--2);
    margin: 0 2vw;
    /* z-index: 2; */
}

.header{
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--2);
    height: calc(100vh - 4vw);
}

.container img{
    height: 100%;
}

.home-grid1{
    overflow: hidden;
    text-align: center;
    margin: 4vw auto;
    border : 1px solid var(--2);
    padding:1vw;
}

.home-grid2{
    margin: 4vw;
    display: flex;
    justify-content:center;
    align-items: center;
}

.home-grid2 h1{
    font-size: 6vw;
    font-family: "Caveat", serif;
}

.typed-text{
    font-size: 3vw;
}

.footer{
    height: 10vw;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    z-index: 2;
}

.footer-sec1{
    display: flex;
    justify-content: center;
}

.footer img{
    width: 2vw;
    margin: 0 2vw;
}

.footer-sec2{
    color: var(--2);
    text-align: center;
}

.footer-sec2 a{
    text-decoration: none;
    color: var(--4);
}

.aboutme{
    text-align: center;
    margin: 4vw 20vw;
}

.aboutme h1, .portfolio h1{
    color: var(--2);
    margin: 2vw;
    font-size: 3vw;
    font-family: "Caveat", serif;
}

.aboutme p{
    font-size: 1.3vw;
    color: var(--2);
}

.skills div{
    display: flex;
    justify-content: center;
}

.skills ul{
    margin: 0 2vw;
}

.skills li{
    margin: 1vw;
    color: var(--2);
}

.portfolio{
    text-align: center;
}

.projects{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 4vw 30vw;
}

.projects div{
    border: 1px solid var(--2);
    margin: 2vw;
    padding: 1vw;
    transition: background-color 0.5s ease;
}

.projects div:hover{
    background-color: var(--2);
}

.projects div:hover .proA{
    color:var(--1);
}

.proA{
    text-decoration: none;
    color: var(--2);
    transition: color 0.5s ease;
    font-weight: 500;
}


@media (max-width: 1367px) {

    .container{
        height: 50vw;
    }

    .footer img{
        width: 3vw;
    }

    .projects{
        margin: 4vw 28vw;
    }
}

@media (max-width: 1200px) {

    .header{
        height: 6vw;
    }

    .aboutme h1, .portfolio h1{
        font-size: 4vw;
    }

    .aboutme p{
        font-size: 1.5vw;
    }

    .footer img{
        width: 4vw;
    }

    .projects{
        margin: 4vw 26vw;
    }
}

@media (max-width:1025px) {

    .aboutme p{
        font-size: 1.8vw;
    }

    .footer img{
        width: 5vw;
    }

    .projects{
        margin: 4vw 24vw;
    }
}

@media (max-width:768px) {

    .header{
        height: 8vw;
    }

    .container{
        grid-template-columns: 100%;
        height: 100vw;
    }

    .home-grid2 h1{
        font-size: 8vw;
        text-align: center;
    }

    .typed-text{
        font-size: 4vw;
    }
    
    .footer img{
        width: 6vw;
    }

    .footer{
        height: 20vw;
    }

    .aboutme h1, .portfolio h1{
        font-size: 6vw;
    }

    .aboutme p{
        font-size: 2.5vw;
    }

    .skills li{
        margin: 2vw;
    }

    .projects{
        display: grid;
        grid-template-columns: 100%;
        margin: 4vw 22vw;
    }

    .projects div{
        margin: 3vw;
    }
    
}

@media (max-width:576px) {

    .header{
        height: 10vw;
    }

    .home-grid2 h1{
        font-size: 10vw;
    }

    .typed-text{
        font-size: 5vw;
    }

    .aboutme h1, .portfolio h1{
        font-size: 8vw;
    }
    
    .aboutme p{
        font-size: 3vw;
    }

    .footer img{
        width: 7vw;
    }

    .projects div{
        margin: 4vw;
    }

    .projects{
        margin: 4vw 20vw;
    }
}

@media (max-width:480px){

    .header{
        height: 12vw;
    }
    
    .typed-text{
        font-size: 6vw;
    }

    .home-grid2{
        margin: 6vw;
    }

    .footer img{
        width: 8vw;
        margin: 0 3vw;
    }

    .aboutme h1, .portfolio h1{
        font-size: 10vw;
    }

    .aboutme p{
        font-size: 4vw;
    }

    .aboutme{
        margin-bottom: 6vw;
    }

    .projects div{
        margin: 5vw;
    }
}